.button {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #d28b8b;
    border-color: black;
    color: black;
    border-radius: 10px;
    margin-left: 5px;
}

.button:hover {
    background-color: #b6e5ab;
    color: black;
}
